.logo1 {
  text-align: center;
}
.logo1-p {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(93, 214, 22);
}
.App-link {
  color: #09d3ac;
}
.App-back {
  background-image: url("https://images.getbento.com/accounts/d3100c0083d4526dad1e04132da2d24e/media/rNxED8fbScSWDQbFRahx_Marta%20October%202018%20Peter%20Garritano%20%20(4).jpg?fit=max&w=1800&auto=format,compress");
  object-fit: cover;
  background-attachment: fixed;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(93, 214, 22);
}
